<div class="row">
    <div class="col-md-10 mt-2"><h2>Lista de Categorias</h2></div>
    <div class="col-md-2 mt-2">
        <a  href="/admin/categoria/add" class="btn" style="background-color:#76FF03">Nova Categoria</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#_id</th>
            <th scope="col">Tipo categoria</th>
            <th scope="col" class="text-center">SKU categoria</th>
            <th scope="col" class="text-center">Data criação</th>
            <th scope="col" colspan="3" class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each categorias}}
            <tr>
                <td>{{_id}}</td>
                <td>{{tipo}}</td>
                <td class="text-center">{{sku}}</td>
                <td class="text-center">{{date}}</td>
                <td class="text-center">
                    <form action="/admin/categoria/deletar" method="POST" id="formDelete">
                        <input type="hidden" name="id" value="{{_id}}"/>
                    </form>
                    <button style="color:#DD2C00; border:none;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fas fa-trash"></i>
                    </button>
                </td>
                <td class="text-center">
                    <a href="/admin/categoria/edit/{{_id}}" style="color: #00E676;">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a href="" style="color:#00B0FF">
                        <i class="far fa-eye"></i>
                    </a>
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="6" class="text-center">Sem resgistros de categorias a serem exibidos</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
